*{
    margin: 0px;
    padding: 0px;

}
body{
 background-color: #22396A;   
 color: #fff;
 font-family: 'Poppins',sans-serif;
}
.wrapper{
    padding: 25px 0px 25px 20px;
}

h2{
    color: #31BB66;
}
p{
    font-size: 12px;
    line-height: 20px;
}
ul{
    list-style: none;
}
div{
    margin-top: 20px;
}
/* gmail and address styling goes here  */
.gmail-address{
    display: flex;
}

.gmail-address p{
    font-size: 16px;
}


/* connect section goes from here  */

.connect ul{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
    
    
}
.connect ul li a {
  
    color: red;
}

